.parent {
    display: flex;
}

.left, .right {
    flex: 1;
    cursor: pointer;
}

.back-button-arrow {
    color: black;
}

.back-button-text {
    color: white;
}

.back-button-arrow:hover {
    color: dodgerblue;
}

.back-button-text:hover {
    color: black;
}

.border {
    margin: 0.5rem;
    height: 30rem;
    border: .1rem solid black;
    border-radius: .5rem;
}

.fill-parent {
    width: 100%;
    height: 95%;
    margin-top: 2.5%;
}

.text-align-center {
    text-align: center;
}

.save-button {
    border-radius: 100%; 
    background-color: #4CAF50;
    color: black;
    padding: 1.3rem;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 5.5rem;
    height: 5.5rem;
}

.save-button:hover {
    background-color: rgba(76, 175, 79, 0.7);
}

.center-content {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}